@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@import url(css/header.css);
@import url(css/categoria.css);
@import url(css/produtos.css);
@import url(css/facilidades.css);

:root {
    --fonte: 'Inter';
    --cor-branca: #FFFFFF;
    --cor-preta: #000000;
    --cor-preta-secundaria: #212529;
    --cor-roxa: #9353FF;
    --cor-amarela: #DAFF01;
    --cor-cinza: #00000021;
}
header {
    background: var(--cor-preta);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
body {
    font-family: var(--fonte);
    font-weight: 400;
}